<div class="posts">
    $for(posts)$
        <article class="post">
            <h1><a href="$url$">$title$</a></h1>

            <div clsss="meta">
                <i class="fas fa-calendar fa-sm"></i>
                <span class="date">$date$</span>
                <span class="tag">
                    <i class="fas fa-folder fa-lg"></i>  $category$

                    <i class="fas fa-tags"></i>  $tags$
                </span>
            </div>

            <div class="entry">
                $teaser$
            </div>
            <a href="$url$" class="read-more">もっと読む</a>
        </article>
    $endfor$
</div>
